.root {
  width: 100%;
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.beer {
  margin: 1rem;
  width: 200px;
  height: 200px;
  overflow: hidden;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  display: flex;
  flex-direction: column;
}

.beer button {
  border: none;
  outline: none;
  cursor: pointer;
}

.beerPrice {
  background-color: gold;
  color: white;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.beerName {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  flex-grow: 1;
}

.beers {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  background-color: gold;
}

.searchResults {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: white;
}
